<?xml version="1.0" encoding="utf-8"?>
<configuration>

  
 
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MyCinemaPlanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="myCinemaPlannerDBEntities" connectionString="metadata=res://*/myCinemaPlanner.csdl|res://*/myCinemaPlanner.ssdl|res://*/myCinemaPlanner.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV13;initial catalog=myCinemaPlannerDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="MyCinemaPlanner.Properties.Settings.myCinemaPlannerDBConnectionString"
        connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=myCinemaPlannerDB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings><userSettings>
        <MyCinemaPlanner.Properties.Settings>
            <setting name="auto" serializeAs="String">
                <value>SuggestAppend</value>
            </setting>
            <setting name="autolist" serializeAs="String">
                <value>ListItems</value>
            </setting>
        </MyCinemaPlanner.Properties.Settings>
    </userSettings>
</configuration>